body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.navbar {
    background-color: #007a6a;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #45d0bd;
}

header {
    text-align: center;
    margin-top: 20px;
}

#lista-carros {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#lista-carros h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.carros {
    margin-bottom: 20px;
}

.carro-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

.carro-item input[type="checkbox"] {
    margin-right: 15px;
    transform: scale(1.2);
}

.carro-item label {
    font-size: 16px;
    color: #333;
}

.carro-item strong {
    font-size: 18px;
    color: #007a6a;
}

.carro-item span {
    display: block;
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.form-group button {
    background-color: #d9534f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.form-group button:hover {
    background-color: #c9302c;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #888;
}